{% load static %}

  <!-- Site footer -->
  <link rel="stylesheet" type="text/css" href="{% static '/css/footer.css' %}">
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6><b>About</b></h6>
          <p class="text-justify"> <i>GroupUp </i> 
            is a collaborative answer to the cries of lonely friend groups.
            Are you and your friends in dire need to find people with just the same flair?
            No need to worry, because that is what we, GroupUp, is all about.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          
        </div>

        <div class="col-xs-6 col-md-3">
          <h6><b>Quick Links</b></h6>
          <ul class="footer-links">
            <li><a href="/profile/">My Profile</a></li>
            <li><a href="/view_group/">My Group</a></li>
            <li><a href="https://tinder.com">My Matches</a></li>
            <li><a href="https://tinder.com">Find Match</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
       <a>GroupUp</a>.
          </p>
        </div>
      </div>
    </div>
</footer>